.benefit {
    text-align: center;
}

.benefit__image-wrapper {
    display: inline-block;
    width:   7rem ;        //  126px
    height:    7rem ;     //  126px
    position: relative;
    background:  #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.1rem ; //20px

}

.benefit__icon {
    width: 4.1rem  ;  //75px
    height:  4.1rem ; //69px
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

.benefit__title {
    font-size: 1.5rem ;  //27px
   line-height: 1.8rem; //32px
   color: #292929;
   font-weight: bold;
}