.benefits-section  {
    position: relative;
    background: url("../../img/узор\ лист\ 77.png") left top 57% no-repeat;
    @include tablets {
        background-position: left bottom 91% ;
    }

    @include phones {
        background: none;
    }

    &:before {
        content: url("../../img/малина\ 1.png");
        position: absolute;
        bottom: -4.4rem;  //-80px
        left: 0;

        @include phones {
            display: none;
        }
    }
}