.btn {
    font-size: 0.9rem;  // 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.1rem 2.2rem;   // 20px 41px
    border-radius: 5.5rem;   //100px
    line-height: 1;
    display: inline-block;
    border: none;

    
    
    &--theme--white {
        background: #ffffff;
        color: $darkGreen;
        &:hover {
            background: $darkGreen;
            color: #ffffff;
        }
    }

    &--theme--transparent {
        background: transparent;
        color: #000000;
        text-transform:none ;

        &:hover {
          
            color: $darkGreen;
        }
    }

    &--theme--green {
        background: $darkGreen;
        color: #ffffff;

        &:hover {
            background:#ffffff;
            color: $darkGreen;
        }
    }
}

