.headline {
    text-align: center;
    margin-bottom: 2.8rem; // 50px
}

.headline__title {
    margin-bottom: 2.11rem;  // 38px
}

.headline__subtitle {
    padding: 0 26%;

    @include phones {
        padding: 0 2%;
    }
}


