 .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    align-items: center;
}
.menu__item {
    margin-right:1.5rem ;  // 27px
    &:last-child{
        margin: 0;
    }
}
.menu__link {
    text-decoration: none;
}

.phone-number {
    font-size: 1.22rem;  // 22px 
    text-decoration: none;
     display: flex;
     align-items: center;
}

.phone-number__icon-elem {
    width: 0.66rem;  // 12px
    height: 0.66rem;  // 12px
    margin-right: 0.33rem;  // 6px
}

