.hero {
background: 
url("../../img/узор\ 2.png") right bottom  no-repeat;
background-color: $blue;
height: 100vh;
min-height: 650px;
color: #ffffff;
position: relative;
@include tablets {
    background-position: right bottom 108% ;
}

&::before, &::after {
    @include tablets {
        display: none;
    }
}

&:before {
    position: absolute;
    bottom: -40px;
    left: 2%;
    content: url("../../img/Лист\ 3.png");
}

&:after {
   content: url("../../img/Ягоды\ 1.png");
   position: absolute;
   bottom: -40px;
   right: 0; 
}
}

.hero__title-section {
    width: 46%;
    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &::before {
            content: "" ;
            margin-bottom: 1.72rem;
            width: 17.55rem;
            height: 18.33rem;
            background: url("../../img/ягоды\ и\ батончики.png") center center / contain no-repeat;
        }
    }
}

.hero__icon-section {
    @include tablets {
       display: none; 
     
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1.33rem 0 1.4rem;  // 24px 0 25px
    background:  url("../../img/Батончики.png")right center / 50% auto no-repeat ;
    @include tablets {
        background: none; 
     }
}

.hero__main-title {
    font-size: 2.7rem; // 48px
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 0.83rem; // 15px
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: 1.2rem;  // 21px
    margin-bottom: 1.55rem;  // 28px
    padding-right: 15%;

    @include tablets {
       padding: 0 23%; 
    }

    @include phones {
        padding: 0px 12%;;
    }

}