@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
html,
body {
  height: 100%;
}

html {
  font-size: 18px;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../../img/узор 1.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 650px;
  color: #ffffff;
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: -40px;
  left: 2%;
  content: url("../../img/Лист 3.png");
}
.hero:after {
  content: url("../../img/Ягоды 1.png");
  position: absolute;
  bottom: -40px;
  right: 0;
}

.hero__title-section {
  width: 46%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.33rem 0 1.4rem;
  background: url("../../img/Батончики.png") right center/50% auto no-repeat;
}

.hero__main-title {
  font-size: 2.7rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.83rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.2rem;
  margin-bottom: 1.55rem;
  padding-right: 15%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 1.5rem;
}
.menu__item:last-child {
  margin: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: 1.22rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 0.66rem;
  height: 0.66rem;
  margin-right: 0.33rem;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.5rem;
}
.features__item:last-child {
  margin: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3rem;
}

.feature__text {
  font-size: 0.9rem;
  max-width: 4.8rem;
}

.btn {
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.1rem 2.2rem;
  border-radius: 5.5rem;
  line-height: 1;
  display: inline-block;
  border: none;
}
.btn--theme--white {
  background: #ffffff;
  color: #0b4d3c;
}
.btn--theme--white:hover {
  background: #0b4d3c;
  color: #ffffff;
}
.btn--theme--transparent {
  background: transparent;
  color: #000000;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #0b4d3c;
}
.btn--theme--green {
  background: #0b4d3c;
  color: #ffffff;
}
.btn--theme--green:hover {
  background: #ffffff;
  color: #0b4d3c;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font--color--green {
  color: #0b4d3c;
}
.section--font--color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.66rem;
  font-weight: bold;
  margin-bottom: 3.33rem;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../../img/Combined shape 2204.png");
  position: absolute;
  top: 1.7rem;
  right: 0;
  transform: translate(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.1rem;
}

.benefit__icon {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #292929;
  font-weight: bold;
}

.headline {
  text-align: center;
  margin-bottom: 2.8rem;
}

.headline__title {
  margin-bottom: 2.11rem;
}

.headline__subtitle {
  padding: 0 26%;
}

.benefits-section {
  position: relative;
  background: url("../../img/узор лист 77.png") left top 57% no-repeat;
}
.benefits-section:before {
  content: url("../../img/малина 1.png");
  position: absolute;
  bottom: -4.4rem;
  left: 0;
}

.reviews__display {
  padding: 2.77rem 2.5rem 1.9rem;
  margin-bottom: 1.11rem;
  background: #f8faf9 url("../../img/flower.svg") right top no-repeat;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -65px;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 14.06rem;
  height: 14.7rem;
}

.reviews__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__content {
  flex: 1;
  margin-left: 1.11rem;
}

.reviews__title {
  font-size: 1.66rem;
  font-weight: bold;
  margin-bottom: 1.22rem;
  color: black;
}

.reviews__text {
  margin-bottom: 2rem;
  width: 76%;
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.interactive-avatar {
  width: 4.44rem;
  height: 4.44rem;
  border: 0.33rem solid #0f5a47;
  border: 0.33rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #0f5a47;
}
.interactive-avatar:hover {
  border-color: #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.section-reviews {
  position: relative;
  z-index: 100;
}
.section-reviews:after {
  content: url("../../img/Ягоды 12.png");
  position: absolute;
  bottom: -6.66rem;
  left: 0;
}
.section-reviews::before {
  content: url("../../img/Узор 78.png");
  position: absolute;
  bottom: -11.11rem;
  left: 0;
}

.order-section {
  position: relative;
  background: url("../../img/Artboard 1.png") center/cover no-repeat;
}
.order-section::before {
  content: url("../../img/ягода черника 1.png");
  position: absolute;
  bottom: 3.9rem;
  left: 2.77rem;
}
.order-section::after {
  content: url("../../img/лист-правый.png");
  position: absolute;
  bottom: 3.9rem;
  right: 0.55rem;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 0.9rem;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
}

.form__block {
  flex: 1;
  margin-right: 0.9rem;
}
.form__block:last-child {
  margin: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 1.63rem;
  border: solid 3px transparent;
  outline: none;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.form__btns {
  margin-top: 2.22rem;
}

.section__title-logo {
  background: url("../../img/Ягода-3 1.svg") right no-repeat;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  padding: 0.55rem 0px;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../../img/nonmb.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.44rem;
  height: 1.44rem;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 0.55rem;
}
.radio__visible::before {
  content: "";
  width: 0.77rem;
  height: 0.77rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.radio__title {
  margin-right: 1.3rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.28rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.33rem;
  height: 0.33rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}