$containerwidht: 940px;
$baseFontsize: 18px;

// breakpoints

$tablets:768px;
$phones: 480px;



//colors
$blue: #61c4d9;
$darkGreen: #0b4d3c;

// z-index
$z-fixed-menu: 100;

@import "media";


//normalize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";

// setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "layout";

// components

@import "hero";
@import "header";
@import "features";
@import "feature";
@import "btn";
@import  "section";
@import "benefits" ;
@import "benefit" ;
@import "headline";
@import "benefits-section";
@import "reviews__display";
@import "interactive-avatar";
@import "reviews__switcher";
@import "section-reviews";
@import "order-section";
@import "form";
@import "section__title-logo";
@import "radio" ;
@import "fixed-menu";
@import "menu";
@import "hamburger";
@import "map-section";
@import "footer";
@import "contacts";
@import "socials";
@import "overlay";
@import "arrows";
@import "gear";
@import "cost";
@import "slider";
@import "specifications";
@import "slaider-section";












