.order-section {
    position: relative;
    background: url("../../img/Artboard\ 1.png") center /  cover   no-repeat;
   

    &::before {
        content: url("../../img/ягода\ черника\ 1.png");
        position: absolute;
        bottom: 3.9rem;  // 70px
        left: 2.77rem;  // 50px
    }

    &::after{
        content: url("../../img/лист-правый.png");
        position: absolute;
        bottom: 3.9rem;  // 70px
        right: 0.55rem;  // 10px

    }
}