  
.overlay-menu {
    position: fixed;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
  
    background-color: #292929;
    margin-left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
 
}


.overlay-menu .menu__link{
    font-size: 1.22rem;
    color: #ffffff;
}
.overlay-menu .menu__item {
    margin-right: 0;
    margin-bottom: 15px;
    &:last-child {
        margin: 0;
    }
}
    
.overlay-menu .menu__list {
    flex-direction: column;
   

} 

 .overlay__menu-btn {
  display: block;
position: absolute;
top:10px ;
right: 10px;
width: 25px;
height: 25px;
background: #292929;
border: none;

   
}
 

  

  
.overlay--active{
    left: 0;
    opacity:0; 

  }

  
  
 