
    
.overlay   {

  
   
    height: 100%;
    width: 100%;
   background:black ;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;

}

  
    
.overlay-menu {
    display: block;
    flex-direction: column;
}
    

  
