  
.overlay-menu {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
  opacity: 0;
    background-color: $blue;
    margin-left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

  
}


.overlay-menu .menu__link{
    font-size: 1.22rem;
    color: #ffffff;
}
.overlay-menu .menu__item {
    margin-right: 0;
    margin-bottom: 15px;
    &:last-child {
        margin: 0;
    }
}
    
.overlay-menu .menu__list {
    flex-direction: column;

} 


