
.slider__description {
  @include tablets{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  @include phones {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
 
}

.slider {
 
    height: 100vh;
    width: 100%; 
}


    .slider__container {
      
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
      
      }

    .slider__item {
      width: 100%;
      height: 100%;
      -webkit-box-flex: 0;    
     flex-grow: 0;
    flex-shrink: 0;       
      position: relative;
     }

    .slider__left {
      position: absolute;
      top: 50%;
      left: 20px;
      cursor: pointer; 
      @include tablets {
        position: absolute;
        top: 28%;
        
      }

      @include phones {
        position: absolute;
        top: 28%;
        margin: 0;
        left: 0;
      }
    }

    .slider__right {
      transform: rotate(0deg);
     transform: rotate(0deg);
     transform: rotate(0deg);
      position: absolute;
      top: 50%;
      right: 20px;
      cursor: pointer; 
      @include tablets {
        position: absolute;
        top: 28%;
        
        
      }
      @include phones {
        position: absolute;
        top: 28%;
        right: 0;
      }

    }

    .slider__list {
      display: flex;
      list-style: none;
      height: 100%;
      width: auto;
      padding: 0;
      margin: 0;
      transition: .5s all ease-out;
      transition: .5s all ease-out;
      transition: .5s all ease-out; 
    }

    .slider__slide {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      flex-grow: 0;
    flex-shrink: 0; 

    @include tablets {
   flex-direction: column;
   align-items: center;
 
    }

     }

      .slider__slide-title {
        font-weight: bold;
        font-size: 36px;
        text-transform: uppercase;
        color: #292929;
        margin-top: 25px; 
        padding: 0 1%;
        @include phones {
         
        }
       
    }

      .slider__slide-description {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #666666;
        margin-top: 24px;
        max-width: 365px;
       
        @include tablets {
          max-width: 79%;
          
        }

        @include phones {
          max-width: 85%;
          
        }
    }