.section__title {
    font-weight: bold;
font-size: 48px;
line-height: 58px;
text-transform: uppercase;
}




.team {
    display: flex;
    justify-content: space-between;


    @include tablets {
       
        padding: 0 10%;
        flex-direction: column;
        align-items: center;

        
    }


}


.team__item {
   text-align: center;
    margin-right: 20px;

    
    
}


.team__member {
    margin-bottom: 20px;
   
}

.team__title {
   
    border: none;
    background: none ;
    font-weight: bold;
   font-size: 21.0181px;
   color: #292929;
   margin-bottom: 5px;
}

.team__occ {
    color: #292929;
    line-height: 22px;
    margin-bottom: 4px;
}


.team--version--desktop .team__content {
        position: absolute;
        top: 100%;
}


.team__content {
    overflow: hidden;
    transition: height .3s;
    height: 0;
}


.team--version--mobile {
    display: flex;
}

